
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    max-width: 100%;
}

.hidden{
    display: none;
}
.show{
    display:inline-block
}

.absolute-center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relative{
    position: relative;
}